

/* On screens that are 992px wide or less, the background color is blue */
@media screen and (max-width: 992px) {
    .mobile-container {
        max-width: 480px;
        margin: auto;
        background-color: #555;
        height: 500px;
        color: white;
        border-radius: 10px;
      }
      
      .topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
        width: 100%;
        color : black;
      }
      
      .topnav #myLinks {
        display: none;
      }
      
      .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }
      
      .topnav a.icon {
        
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }
      
      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }
      
      .active {
        background-color: lightskyblue !important;
      }
}

@media screen and (min-width: 992px) {

      .topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
        width: 100%;
        display: none;
      }

}