.content{
    width: 100%;
    margin-top: 10px;
}

.alert{
    width: 90%;
}

header{
    display: flex;
}

.navbar{
    margin-bottom: 20px;
}

.page-footer{
    margin-top: 20px;
}

.btn-bleu{
    background-color: lightskyblue !important;
    color: black !important;
    border: lightblue;
}

.btn:hover{
    color: white !important;
}



.navbar-perso .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover
{
color: white !important;
}

.navbar-perso .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link
{
    color: black !important;    
}

body 
{
    color: black;
}

.noir{
    color: black;
}

.bg-perso{
    width: 100%;
    background-color: lightskyblue !important;
    color: white !important;
    display: block;
}
  /* On screens that are 992px wide or less, the background color is blue */
  @media screen and (max-width: 992px) {
    nav {
        display: none;
    }
    .bg-perso{
        width: 100%;
        background-color: lightskyblue !important;
        color: white !important;
        display: none;
    }
}
  
  /* On screens that are 600px wide or less, the background color is olive */
  @media screen and (max-width: 600px) {
    .container{
        width: 100% !important;
    }
  }

  .form-control{
    height: 80% !important;
    
}

.btn-ajout{
    color:#00a400 !important;
    border-color: #00a400 !important;
    border-width: 1px !important;
    fill:#00a400 !important;
}

.btn-update{
    color:#337ab7 !important;
    border-color: #337ab7 !important;
    border-width: 1px !important;
    fill:#337ab7 !important;
}

.btn-update:hover{
    color:#337ab7 !important;
    border-color: #337ab7 !important;
    border-width: 1px !important;
    fill:#337ab7 !important;
    box-shadow: 1px 1px 1px 1px #337ab7;
}

.btn-suppr{
    fill:red!important;
    color:red!important;
    border-color: red !important;
    border-width: 1px !important;
}

.btn-suppr:hover{
    fill:rgb(148, 2, 2)!important;
    fill:rgb(148, 2, 2)!important;
    border-color: rgb(148, 2, 2) !important;
    box-shadow: 1px 1px 1px 1px rgb(148, 2, 2) !important;
}