{% extends "base.html.twig" %}

{% block title%} Panneau admin {% endblock %}

{% block stylesheets%}{% endblock %}

{% block body %}
    <a href="{{ path('users') }}" class="btn btn-secondary">Les utilisateurs</a>
    <a href="{{ path('campus') }}" class="btn btn-secondary">Les campus</a>
{% endblock %}