{% extends "base.html.twig" %}

{% block title%} Panneau admin {% endblock %}

{% block stylesheets%}{% endblock %}

{% block body %}
    <h1>Panneau admin</h1>
    <a href="{{ path('users') }}" class="btn btn-bleu ">Les utilisateurs</a>
    <a href="{{ path('campus') }}" class="btn btn-bleu ">Les campus</a>
{% endblock %}