{% extends "base.html.twig" %}

{% block title%} Panneau admin {% endblock %}

{% block stylesheets%}{% endblock %}

{% block body %}
    <button type="button" class="btn btn-secondary"><a href="{{ path('users') }}">Liste des utilisateurs</a></button>
{% endblock %}