{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("css/form.css") }}">
{% endblock %}

{% block title %}
    Modifier profil
{% endblock %}

{% block body %}
    <h1>Modifier son profil</h1>
    <div>
        {{ form_start(userForm) }}
        {{ form_widget(userForm) }}
        {{ form_end(userForm) }}
    </div>
{% endblock %}

{% block javascripts %}
    
{% endblock %}