{% extends "base.html.twig" %}

{% block title%} Inscrire un participant {% endblock %}

{% block stylesheets%} <link rel="stylesheet" href="{{ asset("css/form.css") }}">{% endblock %}

{% block body %}
    Inscrire un participant <br>
    <div>
        
        {{ form_start(userForm) }}
        {{ form_widget(userForm) }}
        {{ form_end(userForm) }}
    </div>
{% endblock %}