{% extends "base.html.twig" %}

{% block title%} S'inscrire {% endblock %}

{% block body %}
    Ajouter un objectif <br>
    <div>
        {{ form_start(userForm) }}
        {{ form_widget(userForm) }}
        <button type="submit">Ajouter</button>
        {{ form_end(userForm) }}
    </div>
{% endblock %}